<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dongkyoo.webe.mappers.UserMapper">

    <sql id="UserAllColumns">
        ID, PASSWORD, SALT, EMAIL, GOOGLE_ID
    </sql>

    <!-- Select 쿼리용 -->
    <sql id="UserColumns">
        ID, EMAIL, GOOGLE_ID
    </sql>

    <insert id="insertUser">
        INSERT INTO tbl_users(<include refid="UserAllColumns"/>)
        VALUES(#{id}, #{password}, #{salt}, #{email}, #{googleId})
    </insert>

    <select id="selectUser" resultType="User">
        SELECT <include refid="UserColumns"/>
        FROM tbl_users
        WHERE id = #{id}
    </select>

    <select id="isExist" resultType="Boolean">
        SELECT
          COUNT(id)
        FROM tbl_users
        WHERE id = #{userId}
    </select>

    <select id="selectPasswordSalt" resultType="PasswordSaltDto">
        SELECT
          password, salt
        FROM tbl_users
        WHERE id = #{userId}
    </select>

</mapper>